<div style="text-align:center">
  <h3>
    Welcome to Data labeling!
  </h3>
  <div id="next" *ngIf="showUploader == false" class="button-row">
    <button mat-raised-button color="primary" (click)=resetImage()>Reset</button>
    <button mat-raised-button color="primary" (click)=nextImage()>Next</button>
  </div>

  <div *ngIf="showUploader" id="msg">{{msg}}</div>

  <input matInput id="imageImport" type="file" multiple="multiple" (change)=onChange($event) *ngIf="showUploader"/>

  <canvas [hidden]="showUploader" id="imageCanvas"> </canvas>

</div>
