<div style="text-align:center">
  <h3>
    Welcome to Data labeling!
  </h3>
  <div id="next" *ngIf="showUploader == false">
    <button mat-raised-button color="primary" (click)=nextImage()>Next</button>
  </div>

  <div *ngIf="showUploader" id="msg">{{msg}}</div>

  <input matInput id="imageImport" type="file" multiple="multiple" (change)=getImages() *ngIf="showUploader"/>

  <canvas [hidden]="showUploader" id="imageCanvas"> </canvas>

  <div [hidden]="showUploader">The image size is: {{imgSize}}</div>

  <div [hidden]="showUploader">The rectangle size is: {{recSize}}</div>

</div>


