<div style="text-align:center">
  <h3>
    Semi-Automated Labeling
  </h3>
  <div id="next" *ngIf="showUploader == false" class="button-row">
    <button mat-raised-button color="primary" (click)=nextImage()>Next</button>
    <button *ngIf="edit" mat-raised-button color="primary" (click)=saveImage()>Save</button>
    <button *ngIf="!edit" mat-raised-button color="primary" (click)=editImage()>Edit</button>
  </div>

  <div *ngIf="showUploader" id="msg">{{msg}}</div>

  <input matInput id="imageImport" type="file" multiple="multiple" (change)=onChange($event) *ngIf="showUploader"/>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div style="width: 100%" id="dropdown-container">
  </div>

  <canvas *ngIf="!showUploader && !loading" id="imageCanvas"> </canvas>

</div>
