@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: Raleway /*Replace with your custom font*/, sans-serif !important; 
  /*Add the !important to overwrite all elements*/
}

#next {
    margin-bottom: 5%;
}

#msg {
    margin-bottom: 2%;
}

#imageCanvas {
    border: 2px solid black;
}